#as-tools-wrap {
    padding: 8px 20px 12px;

    @media screen and (min-width: 68rem) {
        & .as-tools-config-controls {
            display: flex;
            flex-direction: column;
            width: 60%;

            & > section {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                justify-content: flex-start;
                padding-bottom: 1.5rem;

            }

            & label:not(.switch) {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                width: 26rem;
            }

            &.as-tools-enabled-disabled label {
                align-items: flex-start;
            }

            input[type="range"] {
                width: 30rem;
            }
        }

    }

    label {
        line-height: 1.5;

        input[type="checkbox"] {
            margin-top: 1px;
            margin-right: 0.5rem;
        }
    }

    p {
        padding-bottom: 1rem;
    }

    .echo-input-value {
        width: 2rem;
        padding: 0.1rem 0.2rem;
        margin-left: 0.6rem;
        font-weight: bold;
        background: #f8f8f8;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        text-align: center;
    }

    .as-tools-enabled-disabled {
        display: flex;
    }
}

#as-tools-save-tool-buttons-wrap {
    overflow: hidden;


    .as-control-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }
    }

}
#as-tools-save-feedback {
    padding-left: 1rem;
    font-style: italic;
}

#as-tools-link-wrap {
    float: left;
}

dialog.as-tools-modal {
    flex-direction: column;
    align-items: center;

    width: 70%;
    max-width: 50rem;
    border: 2px solid #222;
    padding: 0;

    section {
        width: 100%;
        padding: 2rem 0;
        text-align: center;
    }

    section.description {
        border-bottom: 1px solid #666;
    }

    .choices .proceed {
        margin-right: 2rem;
    }
}